.questions-container {
    text-align: center;
    padding: 20px;
    background-color: #e8f5e9;
    border-radius: 10px;
    max-width: 600px;
    margin: 140px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.navigation-buttons {
    margin-top: 20px;
}

.navigation-buttons button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigation-buttons button:disabled {
    background-color: #a5d6a7;
    cursor: not-allowed;
}

.navigation-buttons button:hover:enabled {
    background-color: #388e3c;
}

body {
    background-image: url('../../../public/img/background.svg'); /* Add your background image here */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 4%;
}