* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h6 {
  font-family: "Montserrat", sans-serif;
}

header {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}

nav > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > div > ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav > div > ul > li {
  padding: 0 24px;
}

nav > div > ul > li > a {
  color: #1a1a1a;
  text-decoration: none;
  font-weight: 600;
  transition: .3s linear;
  position: relative;
}

nav > div > ul > li > a::after {
  content: '';
  height: 2px;
  width: 100%;
  background: #5dd597;
  position: absolute;
  left: 0;
  bottom: -8px;
  opacity: 0;
  transition: all .3s linear;
  pointer-events: none;
}

nav > div > ul > li > a:hover {
  color: #314438;
}

nav > div > ul > li > a:hover::after {
  opacity: 1;
}

nav > div > a {
  background-color: green;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  line-height: 1.5;
  padding: 7px 15px;
  transition: .3s linear;
}

nav > div > a:hover {
  background-color: #5dd597;
  border-radius: 20px;
}

nav > div button {
  background: none;
  border: none;
  padding: 0 10px;
  display: none;
}

nav > div button svg {
  width: 24px;
  height: 24px;
}


nav, .content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 .75rem;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.slide .left-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.left-info .penetrate-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  -webkit-mask-clip: text, padding-box ;
  -webkit-mask-composite: xor;
  z-index: 1;
}

.penetrate-blur h2 {
  text-shadow: 0 0 10px rgba(255, 255, 255, .8);
}

.penetrate-blur h2, .right-info h2 {
  font-size: 12rem;
}

.left-info .hero-content {
  position: absolute;
  bottom: 8%;
  color: #fff;
  z-index: 2;
  padding: 0 2rem;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
}

.hero-content div {
  width: 48px;
  height: 48px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bolder;
  border-radius: 4px;
}

.hero-content p {
  font-size: 1rem;
}


.hero-content button:hover {
  background: transparent;
  color: #fff;
}

.slide .right-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.right-info h2 {
  color: #fff;
  text-shadow:
   0 1px 0 #ccc,
   0 2px 0 #c9c9c9,
   0 3px 0 #bbb,
   0 4px 0 #b9b9b9,
   0 5px 0 #aaa,
   0 6px 1px rgba(0, 0, 0, .1),
   0 0 5px rgba(0, 0, 0, .1),
   0 1px 3px rgba(0, 0, 0, .3),
   0 3px 5px rgba(0, 0, 0, .2),
   0 5px 10px rgba(0, 0, 0, .25),
   0 10px 10px rgba(0, 0, 0, .2),
   0 20px 20px rgba(0, 0, 0, .15)
   ;

}

.navigation {
  position: absolute;
  bottom: 8%;
  right: 5%;
  z-index: 99;
}

.navigation button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  cursor: pointer;
  padding: 0 10px;
}

.navigation button:nth-child(1) {
  background: transparent;
  transition: .3s linear;
  stroke: #fff;
}

.navigation button:nth-child(1):hover {
  background: #fff;
  stroke: #444;
}

.navigation button + button {
  margin-left: 25px;
}

.navigation button svg {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}


#section-3 {
  padding: 6rem 0;
  background-color: #f8fafc;
}

.faqs {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.faqs-header {
  text-align: center;
  margin-bottom: 4rem;
}

.faqs-header > span {
  color: green;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
}

.faqs-header > h2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin-top: 2rem;
}

.faqser {
  padding: 2rem;
  border: none;
  background: #fff;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 5px #9e9e9e;
  cursor: pointer;
  border-radius: 16px;
}

.faqs-content-header {
  display: flex;
  justify-content: space-between;
}

.faqs-content-header > h6 {
  font-weight: 600;
  font-size: 1.125rem;
}

.faqs-content-header > svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.faqser.active {
  border: 2px solid #097969;
}

.faqser > p {
  display: none;
  max-width: 48rem;
  color: #6B7280;
  margin-top: 1rem;
  font-weight: 500;
  text-align: justify;
}

.faqser.active > p {
  display: block;
}

.faqser.active > .faqs-content-header > svg {
  transform: rotate(180deg);
  stroke: #1A3C34;
}